<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
      <h1 id="aboutTitle">Over deze applicatie</h1>
      <p>
        Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
        Breda.
      </p>
      <h3>Familie Afspraak</h3>
      <p>
        Dit is een Web-applicatie waar bezoekers van verschillende verpleeghuizen afspraken kunnen maken om bij
        hun familie op bezoek te gaan. Ze geven aan bij wie en waneer je op bezoek wilt komen. Je moet kiezen
        uit tijdsvakken wandt in tijden van corona kan niet iederen langs komen tegelijk.
      </p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center">
          <img
            src="assets/images/peter.jpg"
            class="card-img-top rounded-circle border profile-pic"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Mees van Dijk</h5>
          <p class="card-text">Studentnummer: 2159174</p>
        </div>
      </div>
    </div>
  </div>
  
  <h3>Entiteiten</h3>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>Locatie</p>
      <ul>
        <li>naam: string</li>
        <li>id: string</li>
        <li>Adress: string</li>
        <li>huisnr: number</li>
        <li>postcode: string</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Bewoner</p>
      <ul>
        <li>naam: string</li>
        <li>id: string</li>
        <li>locatie: string</li>
        <li>bewoner: bewoner</li>
        <li>isSelected: boolean</li>
        <li>kamerNr: number</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <p>Afspraak</p>
      <ul>
        <li>id: string</li>
        <li>datum : date</li>
        <li>beginTijd: timestamp</li>
        <li>eindTijd: timestamp</li>
        <li>bewoner: string</li>
        <li>gebruikerId: number</li>
        <li>isSelected: boolean</li>
        <!-- max aantal personene is hard coded-->
        <li>aantalPersonen: number</li>
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <h3>Use Cases</h3>
      <p>De applicatie biedt de volgende functionaliteit.</p>
      <div *ngFor="let UC of useCases">
        <app-usecase [useCase]="UC"></app-usecase>
      </div>
      <p>Vul hier zelf meer functionaliteit toe.</p>
    </div>
  </div>
  